@font-face {
  font-family: 'FiraCode Nerd Font';
  src: local('FiraCode Nerd Font'), url('https://cdn.discordapp.com/attachments/810799100940255260/907164066504667147/Fira_Code_Regular_Nerd_Font_Complete.ttf') format('truetype');
}

body, .remark-slide-content {
  background-color: #191724;
  color: #e0def4;
  font-family: "FiraCode Nerd Font", sans;
  font-weight: 100;

}

h3 {
  color: #f6c177;
}
a {
  color: #9ccfd8;
}
pre, code {
  background-color: #26233a;
  color: #e0def4;
}
pre:not([class]) {
  background-color: #555169;
}
.hljs-number {
    color: #31748f;
}
.hljs-string {
    color: #eb6f92;
}
.hljs-keyword {
  color: #c4a7e7;
}
.hljs-literal{
  color: #ebbcba;
}
.hljs-number {
  color: #c4a7e7;
}
.hljs-comment {
  color: #6e6a86;
}
.hljs-keyword {
  color: #9ccfd8;
}
.hljs-string {
  color: #f6c177;
}
.tocify-item {
  color: #e0def4;
}
.list-group-item {
  background-color: #59546d;
}
.list-group-item:active, .tocify-item.list-group-item.active {
  background-color: #817c9c;
}
